{% extends 'layout.html' %}







{% block content %}
<form class='container form-control' action="" method='post'>


    <label for="Hosptials">Choose a Hospital:</label>
    <div class='mb-3'>


    <input  class='form-control' autoComplete="on" list="suggestions" name='hospital' placeholder="search for hospital..."/> 

        <datalist id="suggestions">
    
    {% for hospital  in hospitals %}
    <option  value='{{hospital[5]}}'>{{hospital[0]}}</option>
    
    
    
    {% endfor %}
</datalist>

</div>


    

    <input class='btn btn-primary' type="submit" value='remove'> 
    <a class='btn btn-danger' href="{{url_for('HospitalList')}}"> Cancel </a>
</form>



{% endblock %}