{% extends 'layout.html' %}





{% block content %}

    
<div class='container-fluid p-5'>






     

<table id='main-table' class="table table-dark ">
    <thead>
    <tr>
        <th class="text-center"scope="col">Hospital Name</th>
        <th class="text-center"  scope="col-x5">Address</th>
        <th class="text-center"scope="col">Website</th>


    </tr>
    </thead>
    <tbody id="parentBody">

        {%for hospital in hospitals %}
                <tr>
                    <td class='text-center'><a href="{{url_for('HospitalDetails',id=hospital[5])}}">{{hospital[0]}}</a></td>
                    <td class='text-center' style="text-overflow: ellipsis;">{% for i in range(1,4) %}
                        {% if hospital[i] != 'None' %}{{hospital[i]}}, {% endif %} 
                       {% endfor %}
                        {% if hospital[4] != 'None' %}{{hospital[4]}}. {% endif %} 
                       
                       </td>

                    <td class='text-center'> {% if hospital[7] %} {{hospital[7]}} {% else %} No Website {% endif %}</td>


                    
                </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}