.search-bar{

min-width: 100px;

}
.brand{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.active{
    color:brown;
}
/* body{
    background: url("../images/background.jpg") ;
    position:relative;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;

    
} */
.brand{
    width:100px;
    height:50px;
}
body{
    background-color: #141414 !important;
    padding-bottom: 100px;
    position:relative;


}
.navbar-inner {
    /* background:transparent; */
    background-color: #141014 !important ;
}
.nav-link{
    border-radius: 30px;
    color: seashell;
    cursor: pointer;
}

.drop-link{
    height:25px;
    text-decoration-line: none;
}
.navs-separate{

    width:50%;
    margin-left: 25%;
}
.second-nav{
    margin-left: 35%;
    height: auto;
    width:30%;
    border:1px;
    border-width: 1px;
    border-style: solid;
}

.resolve {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  .form-label{
      color:saddlebrown;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: medium;
      font-weight: bold;
    }

.admin-pic{


    width: 200px;
    height: 200px;
}
