.search-bar{

min-width: 100px;

}
.brand{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.active{
    color:brown;
}
body{
    background: url("../images/background.jpg") ;
    position:relative;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;
    
}
.navbar-inner {
    background:transparent;
}
.nav-link{
    border-radius: 30px;
    color: seashell;
    cursor: pointer;
}

.drop-link{
    height:25px;
    text-decoration-line: none;
}
.navs-separate{

    width:50%;
    margin-left: 25%;
}
.second-nav{
    margin-left: 35%;
    height: auto;
    width:30%;
    border:1px;
    border-width: 1px;
    border-style: solid;
}
