{% extends 'layout.html' %} 


{% block content %}  
 <h1 class='container form-title' > <em><strong> Add Dependant</strong></em></h1>
<form action="addDependent" class='form container text-light' method='post'>
    <label class='input-label ' for="HolderEmail">HolderEmail:</label> 
    <input class='form-item input' type="email" name='HolderEmail'> <br>
    <label class='input-label' for="FirstName">First Name:</label> 
    <input class='form-item input-name' type="text" name='FirstName'>    
    <label class='input-label last-name' for="lastName">Last Name:</label> 
    <input class='form-item input-name ' type="text" name='LastName'>    <br>
     <label class='input-label' for="Email">Email:</label> <br>
     <input class='form-item input ' type="email" name='Email'>    <br>
     <label class='input-label' for="Plan">Plan:</label> <br>
     <input type="radio" name="Plan" value=1 checked='true'>      
     <label class='input-label radio' for="Basic">Basic</label> 
     <input type="radio" name="Plan" value=2>    
     <label class='input-label radio' for="Premium">Premium</label> 

     <input class='form-item ' type="radio" name="Plan" value=3 >
     <label class='input-label  ' for="Gold">Gold</label> <br> 
     <label class='input-label' for="Age">Age:</label> <br>

     <input class='form-item input' type="number" name='Age'>    <br>
    
  
  
    <input class='btn btn-primary pr-3' type="submit" value='add'> 
    <a href='/' class='btn btn-danger'> cancel</a>


 </form>





{% endblock %}