{% extends 'layout.html' %} 


{% block content %}
{% if update %}
<h1 class='container form-title' > <em><strong> Update Customer Data</strong></em></h1>
{% else %}
 <h1 class='container form-title' > <em><strong> add Customer</strong></em></h1>
 {% endif %}
<form action="{{url_for('AddCustomer')}}" class='form container' method="post">

    <label class='form-item' for="FirstName">First Name:</label> 
    <input class='form-item input-name' type="text" name='FirstName' required>    
    <label class='form-item last-name' for="lastName">Last Name:</label> 
    <input class='form-item input-name ' type="text" name='LastName' required>    <br>
     <label class='form-item' for="Email">Email:</label> <br>
     <input class='form-item input ' type="email" name='Email' required>    <br>
     <label class='form-item' for="Phone">Phone:</label> <br>
<div class='contacts'>
     <input class='form-item input ' type="tel" name='Phone' > 
    <button class='add_phone'><i class="fas fa-plus-square"></i></button><br>



</div>

     <label class='form-item' for="Plan" >Plan:</label> <br>

     <input type="radio" name="Plan" value=1 checked='true'>      
     <label class='form-item radio' for="Basic">Basic</label> 
     <input type="radio" name="Plan" value=2>    
     <label class='form-item radio' for="Premium">Premium</label> 
     <input class='form-item ' type="radio" name="Plan" value=3 >
     <label class='form-item  ' for="Gold">Gold</label> <br> 

     <label class='form-item' for="Age">Age:</label> <br>

     <input class='form-item input' type="number" name='Age'>    <br>

  
    <input class='btn btn-primary pr-3' type="submit" value='add'> 
    <a href='#' class='btn btn-danger'> cancel</a>


 </form>





{% endblock %}  