{% extends 'layout.html' %}




{% block content %}
<h1>Claim ID:{{ records[0][12] }}</h1>
<p><em><strong>Hospital Name :</strong></br>{{records[0][0]}}</strong></em></p>
<p><strong>Adress:<em>
{%for i in range(1,4)%} 

{% if records[0][i]!=None %}
{{records[0][i]}}, {% endif %}
{% endfor %}
{% if records[0][4]!=None %}
{{records[0][4]}} {% endif %}.
</em></strong></p>
<p><strong>Customer Name :</br>{{records[0][10]}} {{records[0][11]}}</strong>

<em> with ID :{{records[0][5]}}</em></p>

<h1>Approved:</h1>
{% if records[0][6] >0 %}
<h1> YES</h1>
{% else %}
<h1> Waiting</h1>
{% endif %}


<h1>Submitting Date:{{ records[0][7] }}</h1>
<h1>Expense :{{ records[0][8] }}</h1>
<h1>Descreption :{{ records[0][9] }}</h1>
{% endblock %}